@import "../../../../../theme/shared";

:host {

  .resetPass-box{
    margin-top:100px;
  }
  .btn-reset-pass {
    @include btn-primary;
  }
  .btn-reset-pass:disabled{
    background-color: #fe5000;
  }
  #email, .back-box{
    color:#000000;
    cursor: pointer;
  }
  .floating-label label{
    color: #cccccc;
  }
  img {
    height: 35px;
  }

  .app-header {
    padding: 15px 15px 10px 10px;

    .title {
      font-weight: bold;
      text-align: center;
      margin: 0;
    }
  }

  .fa-chevron-left {
    margin-right: 10px;
    margin-left: 5px;
    padding-top: 8px;
  }

}

