<div class="row app-header">
    <div (click)="goToMyPage()" class="col-2">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="col-8" text-center>
        <img src="../../../../../assets/images/logo-text.png"  />
    </div>
    <div class="col-2">
    </div>
</div>

<ion-content class="auth-container">
    <ion-grid>
      <form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-row>
        <ion-col>
          <div class="resetPass-box" text-center padding>
            <ion-list>
              <div class="floating-label group">
                  <input #email id="email" type="email" formControlName="email" name="email" autocomplete="off" tabindex="1"
                    required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Email</label>
                </div>
              </ion-list>
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div text-center padding>
              <button type="submit" [disabled]="!loginForm.valid" class="btn-reset-pass" expand="block">Reset Password Now</button>
          </div>
        </ion-col>
      </ion-row>
      </form>
    </ion-grid>
</ion-content>
