:host {
  img {
    border-radius: 50%;
    height: 65px;
    width: 70px;
    border: thin #f1f1f1 solid;
    margin: 0;

    -webkit-box-shadow: 2px 2px 2px -1px #eee;
    -moz-box-shadow: 2px 2px 2px -1px #eee;
    box-shadow: 2px 2px 2px -1px #eee;
  }
}
