@import "../../../../../theme/shared";

:host {
  ion-grid {
    padding: 40px;
  }

  ion-card-header {
    padding-bottom: 0;
  }

  ion-item {
    ion-label {
      color: var(--ion-color-light);
    }
  }

  .sign-up {
    color: $color-gray-light;
    cursor: pointer;
  }

  .btn-login {
    @include btn-primary;
  }

  .login-logo {
    @include logo-reverse;

    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    left: 20px;
  }

  .floating-label {

    input:focus ~ label, input:valid ~ label, input.ng-dirty ~ label {
      color: $color-gray !important;
    }
  }

}
