
@import '../../../../../theme/shared';

:host {

  .survey-logo {
    @include logo-horizontal;

    margin: 0 auto;
  }

  .btn-next {
    @include btn-primary;
  }

  h1 {
    margin:10px;
  }

  p {
    font-size: 14px;
  }

  ion-grid {
    padding: 20px;
  }

  .btn-continue {
    @include btn-transparent;

    margin: 5px;
  }

  p {
    color: $color-gray;
  }
}
