<ion-content class="auth-bg">
  <form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-grid>
      <ion-row>
        <ion-col><div class="login-logo"></div></ion-col>
      </ion-row>
      <ion-list>
        <div class="floating-label group">
          <input #email id="email" type="email" formControlName="email" name="email" autocomplete="off" tabindex="1"
            required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>

        <div class="floating-label group mb-0">
          <input #pwd formControlName="password" name="password" type="password" autocomplete="off"
            tabindex="2" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
        </div>
      </ion-list>

      <ion-row>
        <ion-col>
          <div padding>
              <button type="submit" [disabled]="!loginForm.valid || isSubmitting" class="btn-login" (click)="onLogin()" expand="block">
              <i *ngIf="isSubmitting" class="fas fa-spinner fa-pulse"></i> SIGN IN</button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="sign-up" (click)="gotoSignUp()" text-center>
            <span>Sign Up</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="sign-up" (click)="gotoForgotPass()" text-center>
            <span>Forgot Password?</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
